.tg  {
    border-collapse:collapse;
    border-color:#ccc;
    border-spacing:0;    
    position: absolute;
    width: 90%;
    top: 15%;
    left: 5%;
}

.tg td{
    background-color:#fff;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    color:#333;          
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
    width: 20%;
}

.tg th{
    background-color:#f0f0f0;
    border-color:#ccc;
    border-style:solid;
    border-width:1px;
    color:#333;         
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}
.tg .row{
    font-family:Arial, Helvetica, sans-serif !important;;
    font-size:11px;
    font-weight:bold;
    text-align:center;          
    vertical-align:top
}

.tg .top-row{
    background-color:#343434;
    color:#ffffff;
    font-size:10px;
    font-weight:bold;
    text-align:center;
    vertical-align:top
}

.ph{
    font-size: 20px;
    margin: 0;
    padding: 0;
    width: 80px;
    height: 30px;
    text-align: center;
}

.und{
    font-size: 15px;
    font-weight:bold;
    text-align:center;          
    vertical-align:top
}

.menu_table{
    margin: 0;
    top: 5%;
    left: 25%;
    display: block;
    position: absolute;
}

.send_button_table {
    width: 130px;
    border-radius: 65px;
    top: 5%;
    position: relative;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px; 
    background-color: #5511EB;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    margin:0 auto; 
    margin-bottom: 20px;
    margin-top: 30px;
}

.combo_table{
    width: 140px;
    border-radius: 65px;
    top: 5%;
    position: relative;
    text-align: center;
    text-align-last: center;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px; 
    background-color: #5511EB;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    margin:0 auto; 
    margin-bottom: 20px;
    margin-top: 30px;
}

.combo_table2{
    width: 220px;
    border-radius: 65px;
    top: 5%;
    position: relative;
    text-align: center;
    text-align-last: center;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 14px;
    padding: 10px; 
    background-color: #5511EB;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    border: none;
    margin:0 auto; 
    margin-bottom: 20px;
    margin-top: 30px;
}
